﻿@using NV.Entities
@model ArticleEntity
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/Layout.cshtml";
    var article = Model;
}

<section>
    <div class="row">
        <div class="bg-success text-center">
            <h4><span class="label label-success">@article.Article.Rubric</span></h4>
        </div>
    </div>
    <h1 class="text-center">
        <span class="text-primary">@article.Article.Header</span>
    </h1>
    <div class="row">
        <div class="text-right pull-right"> <strong><em>@article.Article.Intro</em></strong></div>
    </div>
    <div class="row text-justify">
        <p>@article.Article.Body</p>
    </div>
    <div class="row text-right text-info">
        @article.Author.Name
        <span class="text-uppercase">@article.Author.Surname</span>@if (@article.Author.Info != null)
        {<span>, </span><br />@article.Author.Info}.
        <div class="text-right text-muted">@article.Article.Date.ToShortDateString()</div>
     </div>
    @Html.Partial("CommentsPartial")
</section>