﻿@model IEnumerable<NV.Entities.ArticleEntity>

<section>
    @foreach (var a in Model)
    {
        @a.Article.Category
        <div class="row">
            <div class="bg-success">
                <div class="text-center">
                    <h4><span class="label label-primary">@a.Article.Rubric</span></h4>
                </div>
            </div>
            <h1 class="text-center">
                <a href="/Publication/Article/@a.Article.Id">@a.Article.Header</a>
            </h1>
            <div class="text-right"><em>@a.Article.Intro</em></div>
            <div class="text-right text-info">
                @a.Author.Name
                <span class="text-uppercase">@a.Author.Surname</span>@if (@a.Author.Info != null)
                {<span>, </span><br />@a.Author.Info}.
            </div>
            <div class="text-right text-muted">Додано @a.Article.Date.ToShortDateString()</div>
        </div>
    }
</section>