﻿<h4 class="text-info text-center"><label>Коментарі</label></h4>
<div class="row">
    <label class="text-success">Василь Василенко</label>
    <div class="text-justify">
        aecenas dapibus, mauris in dapibus gravida, dolor libero vehicula mauris,
        porta convallis ante dolor id nulla. Aenean sit amet diam erat. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Maecenas pharetra massa vitae tellus auctor ornare.
        Nunc mauris diam, auctor vitae elementum quis, eleifend at turpis. Curabitur commodo egestas
        tellus ac semper. In hac habitasse platea dictumst.
        <label class="text-warning">Залишено 2 грудня 2015 в 12:35 .</label>
    </div>
</div>
<div class="row">
    <form role="form">
        <div class="form-group">
            <label class="label label-primary" for="text">Залишити коментар</label>
            <textarea type="textarea" rows="5" class="form-control" id="comment"> </textarea>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Надіслати</button>
    </form>
</div>