﻿@using NV.WebUI.Models
@model LoginModel

<section>
    <div class="row">
        <div class="col-md-2 pull-right text-left">
            <div class="row">
                <h4 class="text-info text-center lead "> Привіт, Гість!</h4>
            </div>
            <form class="form" method="post" action="/Publication/Login/">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label label-primary">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label class="label label-success">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                    <div class="checkbox text-center">
                        <label><input type="checkbox">Remember me?</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Ввійти</button>
                        <a href="RegistrationPage.html" class="btn btn-success">Реєстрація</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>