﻿@model IEnumerable<string>

<section>
    <div class="col-md-2 text-center text-primary">
        <ul class="nav nav-pills nav-stacked bg-success">
            <li>@Html.RouteLink("All", new { controller = "Publication", action = "Index" })</li>
            @foreach (var c in Model)
            {
                <li>
                    @Html.RouteLink(c, new
                    {
                        controller = "Publication",
                        action = "Index",
                        category = c
                    },
                    new
                    {
                        @class = (c == ViewBag.Selected ? "btn-primary" : "")
                    })
                </li>
            }
        </ul>
    </div>
</section>