﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/lib/jquery/jquery.min.js"></script>
    <script src="~/Scripts/lib/bootstrap/bootstrap.min.js"></script>
    <link href="~/Styles/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)   
</head>
<body>
    <header><h1 class="text-center text-info">NV Admininistration Panel</h1></header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
