﻿<header>
    <div class="col-md-12">
        <img src="~/Images/logo.GIF" width="100%" />
        <div class="form-group pull-right">
            <a href="/Admin/Security/Login" class="btn btn-default">Go To Admin Panel</a>
        </div>
    </div>
</header>