﻿@{
    Layout = null;
    IEnumerable<string> categories = ViewBag.Categories;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/lib/jquery/jquery.min.js"></script>
    <script src="~/Scripts/lib/bootstrap/bootstrap.min.js"></script>
    <link href="~/Styles/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("scripts", false)
</head>
<body>
    @Html.Partial("HeaderPartial")
    @Html.Partial("MainNavPartial")
    @Html.Partial("SubmenuPartial", categories)
    <div class="col-md-8">
        @RenderBody()
    </div>
    <section>
        <div class="row">
            <div class="col-md-2 pull-right text-left">
                <div class="row">
                    <h4 class="text-info text-center lead "> Привіт, Гість!</h4>
                </div>
                <form class="form">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label label-primary">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="label label-success">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                        <div class="checkbox text-center">
                            <label><input type="checkbox">Remember me?</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Ввійти</button>
                            <a href="#" class="btn btn-success">Реєстрація</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    @Html.Partial("FooterPartial")
</body>
</html>