﻿@section Logout
{
    <div class="row">
        <div class="col-md-2 pull-right text-left">
            <div class="row">
                <h4 class="text-info text-center lead "> Привіт, UserFromModel!</h4>
            </div>
            <form class="form" role="form">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Вийти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}