﻿<section>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li>@Html.RouteLink("Публікації", 
                    new { controller = "Publication", action = "Index" }))</li>
                <li><a href="~/Advertisement/Index">Оголошення</a></li>
                <li><a href="~/Greeting/Index">Вітання</a></li>
                <li><a href="~/About/Index">Про нас</a></li>
            </ul>
        </div>
    </div>
</section>