﻿@using NV.Entities
@model IEnumerable<ArticleEntity>
@{ 
    IEnumerable<ArticleEntity> list = Model;
}

@foreach (var a in list)
{
    <tr>
        <td>@a.Article.Id</td>
        <td>@a.Article.Category</td>
        <td>@a.Article.Rubric</td>
        <td>
             <a href="/Admin/Publication/Edit/@a.Article.Id" 
                data-toggle="tooltip" title="Press to edit">@a.Article.Header</a>
        </td>
        <td>@a.Article.Date.ToShortDateString()</td>
        <td>@a.Author.Name</td>
        <td>@a.Author.Surname</td>
        <td>
        <form method="post" action="/Admin/Publication/Delete">
            <button type="submit" class="btn btn-danger" value="@a.Article.Id" name="articleId">X</button>
        </form>
        </td>
    </tr>
}