﻿@using NV.WebUI.Models
@model ArticleModel
@{
    ViewBag.Title = "Admin Panel: Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    List<SelectListItem> list = ViewBag.authors;
}
@using (Html.BeginForm("Edit", "Publication",
                FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">  
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "Id":
                    @Html.HiddenFor(m => m.Id)
                    break;
                case "Date":
                    @Html.HiddenFor(m => m.Date)
                    break;
                case "Intro":
                    <div class="form-group">
                        <div class="label label-info">@(property.DisplayName ?? property.PropertyName)</div>
                        @Html.TextArea(property.PropertyName, null,
                            new { @class = "form-control", rows = 3 })
                        @Html.ValidationMessage(property.PropertyName, new { @class = "text-danger" })
                    </div>
                        break;                
                case "Body":
                    <div class="form-group">
                        <div class="label label-info">@(property.DisplayName ?? property.PropertyName)</div>
                        @Html.TextArea(property.PropertyName, null, 
                        new { @class = "form-control", rows = 15 })
                        @Html.ValidationMessage(property.PropertyName, new { @class = "text-danger" })
                    </div>
                    break;
                case "AuthorId":
                    <div class="form-group">
                        <div class="label label-info">@(property.DisplayName ?? property.PropertyName) </div>
                        @Html.DropDownListFor(x => x.AuthorId, list, new { @class = "form-control"})
                    </div>
                    break;
                    default:
                    <div class="form-group">
                        <div class="label label-info">@(property.DisplayName ?? property.PropertyName)</div>
                        @Html.TextBox(property.PropertyName, null,
                            new { @class = "form-control" })

                        @Html.ValidationMessage(property.PropertyName, new { @class = "text-danger"})
                    </div>
                    break;
                    }
                    }
                </div>
    <div class="panel-footer pull-right">
        <input type="submit" value="Save" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
    </div>
}