﻿@model IEnumerable<string>

@{
    IEnumerable<string> categories = Model;
}
<div class="form-group form-inline">
    <label class="text-info">Filter articles by category: </label>
    <select id="selecter" class="form-control">
        <option value="All">All</option>
        @foreach (var c in categories)
        {
            <option value="@c">@c</option>
        }
    </select>
</div>