﻿@using NV.Entities

@section scripts
{
    <script src="~/Scripts/admin/publication.js"></script>
}

@{
    ViewBag.Title = "Admin Panel: Articles";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    IEnumerable<ArticleEntity> articles = ViewBag.Articles;
    IEnumerable<string> categories = ViewBag.Categories;
}

<div class="col-md-12">
    <a href="/Admin/Publication/Add" class="lead">Add article</a>
    @Html.Partial("FilterPartial", categories)
    <table class="table table-hover table-responsive">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Rubric</th>
                <th>Header</th>
                <th>Date</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="list">
            @Html.Partial("ArticlesListPartial", articles)
        </tbody>
    </table>
</div>